div{
    text-align: center;
}
h1{
    font-size: 5pc;
}
img{
    width: 250px;
}
button{
    background-color: dodgerblue;
    padding: 8px;
    color: white;
    width: 150px;

}
input{
    width: 25%;
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    
}
/* these here are for Sign up page*/ 
.PhoneNumber{
    margin-right: 50px;
}
.email{
    margin-right: 200px;

}
.Password{
    margin-right: 180px;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/ 

/* these here are for Announcements page*/ 

}
.picture{
    width: 80px;

}

.calendar-wrapper{
    margin-left: 10px;
}

.officers-wrapper{
    
}
