div{
    text-align: center;
}
h1{
    font-size: 5pc;
}
img{
    width: 250px;
    margin-bottom: 40px;
}
#submit-btn{
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}
/* these here are for Sign up page*/ 
.PhoneNumber{
    margin-right: 50px;
}

#email,#password,#name,#password_confirmation{
    margin-left: auto;
    margin-right: auto;
}

/* these here are for Announcements page*/ 

.picture{
    width: 80px;

}

.calendar-wrapper{
    margin-left: 10px;
}
